{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}   

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4 style='float:left;'>{{action}} Product</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'product' %}">Product List</a></li>
                    <li class="breadcrumb-item active">{{action}} Product</li>
                </ol>
            </div>
        </div>
    
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" id="frmProduct" name="frmProduct" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" class="form-control" id="prodId" name="prodId" value="{{ record.id }}" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" class="form-control" id="product_name" name="product_name" value="{{ record.product_name }}" placeholder="Product Name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Product Code</label>
                                            <input type="text" class="form-control" id="code" name="code" value="{{ record.code }}" placeholder="Product Code" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Brand</label>
                                            <select class="form-control" name="brand" id="brand" required>
                                                <option value="">Select Brand</option>
                                                {% for brand in brands %}
                                                <option value="{{brand.id}}" {% if record.brand_id == brand.id %} selected  {% endif %} >{{brand.name}}</option>
                                                {% endfor %}    
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Weight / Quantity</label>
                                            <input type="text" class="form-control" id="weight" name="weight" value="{{ record.weight }}" placeholder="Weight/Quantity" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <select name="unit" class="form-control" id="unit" required>
                                                <option value="">Select Unit</option>
                                                <option value="kg" {% if record.unit == 'kg' %} selected  {% endif %}>Kg</option>
                                                <option value="grams" {% if record.unit == 'grams' %} selected  {% endif %}>Grams</option>
                                                <option value="ltr" {% if record.unit == 'ltr' %} selected  {% endif %}>Ltr</option>
                                                <option value="ml" {% if record.unit == 'ml' %} selected  {% endif %}>Ml</option>
                                                <option value="pcs" {% if record.unit == 'pcs' %} selected  {% endif %}>Pcs</option>
                                                <option value="unit" {% if record.unit == 'unit' %} selected  {% endif %}>Unit</option>
                                            </select>
                                        </div>
                                    </div>
                                   <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Price</label>
                                            <input type="text" class="form-control" id="price" name="price" value="{{ record.price }}" placeholder="Price" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>MRP</label>
                                            <input type="text" class="form-control" id="mrp" name="mrp" value="{{ record.mrp }}" placeholder="MRP" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Order Level</label>
                                            <input type="text" class="form-control" id="order_level" name="order_level" value="{{ record.order_level }}" placeholder="Order Level" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Alert Level</label>
                                            <input type="text" class="form-control" id="alert_level" name="alert_level" value="{{ record.alert_level }}" placeholder="Alert Level" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Product Description</label>
                                            <textarea rows="2" class="form-control" id="description" name="description" placeholder="Product Description" >{{ record.description }}</textarea>
                                        </div>
                                    </div>
                                   
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-lg-8">
                                        <button type="submit" class="btn btn-rounded btn-info" >
                                            {%  if action == 'Add' %} Submit 
                                            {%  else %} Update 
                                            {%  endif %}</button>
                                        <a href="{% url 'product' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/superadmin/product.js' %}"></script>
    <script>
        var product_url = "{% url 'product' %}"
        var add_product_url = "{% url 'add_product' %}"
    </script>
    
{% endblock %}   