{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}    

        
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4 style='float:left;'>Product List </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% csrf_token %}
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Product Name</th>
                                        <th>Code</th>
                                        <th>Brand</th>
                                        <th>Weight</th>
                                        <th>Price</th>
                                        <th>MRP</th>
                                        <!--th>Added On</th-->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {% for rec in record  %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>{{ rec.product_name }}</td>
                                            <td>{{ rec.code }}</td>
                                            <td>{{ rec.brand.name }}</td>
                                            <td>{{ rec.weight }} {{ rec.unit }}</td>
                                            <td>{{ rec.price }}</td>
                                            <td>{{ rec.mrp }}</td>
                                            <!--td>{{ rec.added_date | date:"Y-m-d H:i A" }}</td-->
                                            <td>
                                            <a href="{% url 'add_product' rec.id  %}" class="btn btn-info btn-sm"><i class="fa fa-pencil font-18 align-middle"></i></a>&nbsp;
                                            <a href="#" onclick="deleteProduct('{{ rec.id }}')" class="btn btn-danger btn-sm"><i class="fa fa-trash font-18 align-middle"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/superadmin/product.js' %}"></script>

{% endblock %}    
    
        
        