{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col p-md-0">
            <h4 style='float:left;'>{{action}} Order</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'order' %}">Order List</a></li>
                <li class="breadcrumb-item active">{{action}} Order</li>
            </ol>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form class="form-valide" id="frmOrder" name="frmOrder" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" class="form-control" id="orderId" name="orderId" value="{{ record.id }}" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Shop</label>
                                        <select class="form-control" name="shop" id="shop" required>
                                            <option value="">Select Shop</option>
                                            {% for shop in shops %}
                                            <option value="{{shop.id}}" {% if record.shop_id == shop.id %} selected
                                                {% endif %}>{{shop.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div class="form-group">
                                        <label>&nbsp;</label><br />
                                        <button type="button" class="btn btn-rounded btn-success" data-toggle="modal"
                                            data-target="#prodModal">Add Product</button>
                                    </div>
                                </div>

                            </div>
                            <hr />
                            <div class='row'>
                                <div class="col-md-12">
                                    <h4>Product Details</h4>
                                    <div class="table-responsive">
                                        <table id="prod_tbl" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Product</th>
                                                    <th>Price</th>
                                                    <th>Qty</th>
                                                    <th>Total</th>
                                                    <th>Action</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <input type="hidden" id="srno" value="{% if order_details.count > 0 %} {{ order_details.count }} {% else %} 0 {% endif %}">
                                            
                                                {% if order_details.count > 0  %}
                                                {% for rec in order_details  %}
                                                <tr id="tr_{{ forloop.counter }}">
                                                    <td id="sro_{{ forloop.counter }}">{{ forloop.counter }} 
                                                        <input type="hidden" class="prod_id" name="prod_id[]" value="{{ rec.prod_id_id }}" />
                                                        <input type="hidden" name="prod_name[]" value="{{ rec.prod_id.product_name }}" />
                                                        <input type="hidden" class="prod_price_{{ rec.prod_id_id }}" name="price[]" value="{{ rec.prod_id.mrp }}" />
                                                    </td>
                                                    <td>{{ rec.prod_id.product_name }}</td>
                                                    <td>{{ rec.price }}</td>
                                                    <td><input class="form-control cal_qty" product_id="{{ rec.prod_id_id }}" type="text" name="qty[]" value="{{ rec.qty }}" /></td>
                                                    <td><input class="form-control cal_price price_{{ rec.prod_id_id }}"  type="text" name="tot_price[]" value="{{ rec.tot_price }}" readonly/></td>
                                                    <td><a href="javascript:void(0);" data-toggle="tooltip" title="Delete" onclick="del_prod_menu(this)" d-id="{{ rec.prod_id_id }}" id="dela_{{ forloop.counter }}"  class="{{ forloop.counter }}">
                                                        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o fa-1x"></i></button></a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                            </tbody>
                                            <tfooter>
                                                <tr>
                                                    <td colspan="4" class="text-right"><b>Grand Total : </b></td>
                                                    <td><span id="grand_total_txt">{{ record.grand_total }}</span>
                                                        <input type="hidden" name="grand_total" id="grand_total"
                                                            value="{{ record.grand_total }} " readonly>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tfooter>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8">
                                    <button type="submit" class="btn btn-rounded btn-info">
                                        {%  if action == 'Add' %} Submit
                                        {%  else %} Update
                                        {%  endif %}</button>
                                    <a href="{% url 'order' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="prodModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" enctype="multipart/form-data" id="frmProduct">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Product</label>
                        <input type="hidden" name="product_id" id="product_id" class="form-control" />
                        <select class="form-control" name="prod_srch" id="prod_srch" required>
                            <option value="">Select Product</option>
                            {% for product in products %}
                            <option value="{{product.id}}">{{product.product_name}} - {{product.weight}}
                                {{product.unit}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Quantity</label>
                        <input type="text" id="prod_qty" name="prod_qty" min="1" class="form-control"
                            placeholder="Quantity" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-outline-secondary"
                        data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-rounded btn-info" id="subform_btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="{% static 'js/superadmin/order.js' %}"></script>
<script>
    var order_url = "{% url 'order' %}"
    var add_order_url = "{% url 'add_order' %}"
    var get_product_details = "{% url 'get_product_details' %}"
</script>

{% endblock %}