{% extends 'superadmin/base.html' %}
{% load static %}

{% block content %}    

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4 style='float:left;'>Order List </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Order List</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            {% csrf_token %}
                            <table class="table table-striped table-bordered zero-configuration">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Order No</th>
                                        <th>Shop Name</th>
                                        <th>Total Amount</th>
                                        <th>Payment</th>
                                        <th>Order</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                    {% for rec in record  %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>#{{ rec.order_no }}</td>
                                            <td>{{ rec.shop.name }}</td>
                                            <td>{{ rec.grand_total }}</td>
                                            <td>
                                                {% if rec.payment == 1 %}
                                                    <span href="#" class="btn btn-sm btn-success">Paid</span>
                                                {% else %}
                                                   <span href="#" onclick="updatePayment('{{ rec.id }}')" class="btn btn-sm btn-danger">Unpaid</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if rec.status == 1 %}
                                                    <span href="#" class="btn btn-sm btn-success">Delivered</span>
                                                {% else %}
                                                   <span href="#" onclick="updateDelivery('{{ rec.id }}')" class="btn btn-sm btn-danger">Pending</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ rec.added_date | date:"Y-m-d h:i A" }}</td>
                                            <td class="nowrap">
                                            <a href="{% url 'view_order' rec.id '0' %}" class="btn btn-warning btn-sm"><i class="fa fa-eye font-18 align-middle"></i></a>&nbsp;
                                            <a href="{% url 'add_order' rec.id  %}" class="btn btn-info btn-sm"><i class="fa fa-pencil font-18 align-middle"></i></a>&nbsp;
                                            <a href="#" onclick="deleteOrder('{{ rec.id }}')" class="btn btn-danger btn-sm"><i class="fa fa-trash font-18 align-middle"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/superadmin/order.js' %}"></script>

{% endblock %}    
    
        
        