{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid">
    <div class="row page-titles">
        <div class="col p-md-0">
            <h4 style='float:left;'>View Order</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% if fromId == 0 %}
                <li class="breadcrumb-item"><a href="{% url 'order' %}">Order List</a></li>
                {% else %}
                <li class="breadcrumb-item"><a href="{% url 'delivered_order' %}">Delivered Order</a></li>
                {% endif %}
                <li class="breadcrumb-item active">View Order</li>
            </ol>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <div class="row">
                            <div class="col-sm-4 invoice-col">
                            From
                            <address>
                                <strong>{{userData.name}}</strong><br>
                                {{userData.address}}<br>
                                Phone: {{userData.contact}}<br>
                                Email: {{userData.email}}
                            </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                To
                                <address>
                                    <strong>{{ record.first.shop.name }}</strong><br>
                                    {{ record.first.shop.address }}<br>
                                    Phone: {{ record.first.shop.contact }}<br>
                                    Email: {{ record.first.shop.email }}
                                </address>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>Invoice #{{ record.first.order_no }}</b><br>
                                <br>
                                <b>Order ID:</b> #{{ record.first.order_no }}<br>
                                <b>Order Date:</b> {{ record.first.added_date | date:"d/m/Y"  }}<br>
                            </div>
                        </div>
                        <hr />
                        <div class='row'>
                            <div class="col-md-12">
                                <h4>Product Details</h4>
                                <div class="table-responsive">
                                    <table id="prod_tbl" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sr. No.</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Qty</th>
                                                <th>Total</th>
                                            </tr>

                                        </thead>
                                        <tbody>
                                            <input type="hidden" id="srno" value="{% if order_details.count > 0 %} {{ order_details.count }} {% else %} 0 {% endif %}">
                                        
                                            {% if order_details.count > 0  %}
                                            {% for rec in order_details  %}
                                            <tr id="tr_{{ forloop.counter }}">
                                                <td id="sro_{{ forloop.counter }}">{{ forloop.counter }}</td>
                                                <td>{{ rec.prod_id.product_name }}</td>
                                                <td>{{ rec.price }}</td>
                                                <td>{{ rec.qty }}</td>
                                                <td>{{ rec.tot_price }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                        <tfooter>
                                            <tr>
                                                <td colspan="4" class="text-right"><b>Grand Total : </b></td>
                                                <td><span id="grand_total_txt">{{ record.first.grand_total }}</span></td>
                                            </tr>
                                        </tfooter>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8">
                                {% if fromId == 0 %}
                                <a href="{% url 'order' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                                {% else %}
                                <a href="{% url 'delivered_order' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}