{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %} 

    <!-- Pignose Calender -->
    <link href="{% static 'plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="{% static 'plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">


    <div class="container-fluid mt-3">
         <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-4">
                    <div class="card-body">
                        <h3 class="card-title text-white">Total Shops</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ shops }}</h2>
                            <!--p class="text-white mb-0">Jan - March 2019</p-->
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-2">
                    <div class="card-body">
                        <h3 class="card-title text-white">Total Products</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ products }}</h2>
                            <!--p class="text-white mb-0">Jan - March 2019</p-->
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-cart-plus"></i></span>
                    </div>
                </div>
            </div>            
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-3">
                    <div class="card-body">
                        <h3 class="card-title text-white">Today's Order</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ todays_order_cnt }}</h2>
                            <!--p class="text-white mb-0">Jan - March 2019</p-->
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card gradient-1">
                    <div class="card-body">
                        <h3 class="card-title text-white">Total Sale</h3>
                        <div class="d-inline-block">
                            <h2 class="text-white">{{ tot_sale }}</h2>
                            <!--p class="text-white mb-0">Jan - March 2019</p-->
                        </div>
                        <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Today's Order</h4>
                        <div class="active-member">
                            <div class="table-responsive">
                                <table class="table table-xs mb-0">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Order No</th>
                                            <th>Shop Name</th>
                                            <th>Total Amount</th>
                                            <th>Payment Status</th>
                                            <th>Order Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {% csrf_token %}
                                    {% for order in todays_order %}
                                        <tr>
                                            <td>{{ forloop.counter }} </td>
                                            <td>#{{ order.order_no }}</td>
                                            <td>{{ order.shop.name }}</td>
                                            <td>{{ order.grand_total }}</td> 
                                            <td>
                                                {% if order.payment == 1 %}
                                                    <span href="#" class="btn btn-sm btn-success">Paid</span>
                                                {% else %}
                                                   <span href="#" onclick="updatePayment('{{ order.id }}')" class="btn btn-sm btn-danger">Unpaid</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.status == 1 %}
                                                    <span href="#" class="btn btn-sm btn-success">Delivered</span>
                                                {% else %}
                                                   <span href="#" onclick="updateDelivery('{{ order.id }}')" class="btn btn-sm btn-danger">Pending</span>
                                                {% endif %}
                                            </td>
                                            <td> <a href="{% url 'view_order' order.id '0' %}" class="btn btn-warning btn-sm"><i class="fa fa-eye font-18 align-middle"></i></a></td>
                                        </tr>
                                    {% endfor %}   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                        
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body pb-0 d-flex justify-content-between">
                                <div>
                                    <h4 class="mb-1">Sale Graph</h4>
                                </div>
                                <div>
                                    <ul>
                                        <li class="d-inline-block mr-3"><a class="text-dark" href="#">Day</a></li>
                                        <li class="d-inline-block mr-3"><a class="text-dark" href="#">Week</a></li>
                                        <li class="d-inline-block"><a class="text-dark" href="#">Month</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <canvas id="chart_widget_2"></canvas>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div class="w-100 mr-2">
                                        <h6>Pixel 2</h6>
                                        <div class="progress" style="height: 6px">
                                            <div class="progress-bar bg-danger" style="width: 40%"></div>
                                        </div>
                                    </div>
                                    <div class="ml-2 w-100">
                                        <h6>iPhone X</h6>
                                        <div class="progress" style="height: 6px">
                                            <div class="progress-bar bg-primary" style="width: 80%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

   </div>

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    
    <!-- Chartjs -->
    <script src="{% static 'plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <!-- Circle progress -->
    <script src="{% static 'plugins/circle-progress/circle-progress.min.js' %}"></script>
   
    <!-- Morrisjs -->
    <script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/morris/morris.min.js' %}"></script>
   
    <!-- ChartistJS -->
    <script src="{% static 'plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>

    <script src="{% static 'js/superadmin/dashboard.js' %}"></script>

{% endblock %}    
         
       