{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Billing | Admin Login</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Sweet Alert -->
    <link href="{% static 'plugins/sweetalert/css/sweetalert.css' %}" rel="stylesheet">

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>

        <style>
        #username-error,#password-error{color:red;}
        .success{color:green;}
        .card.login-form.mb-0 {
            background: #0e39397a !important;
            border: 1px solid #fff;
            box-shadow: 0 10px 30px rgba(224, 220, 220, 0.95) !important;
            border-radius: 12px;
        }
        .login-input .form-group .form-control{
            background: #eee9e9c7 !important;
            border-radius: 8px !important;
            padding-left: 15px !important;
        }

        .body_bg{
            background-image: url({% static 'images/bg1.png' %});
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            }

            .login-input .form-group .form-control{
                color:#111212;
            }
    </style>
    
</head>

<body class="h-100 body_bg" >
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body">
                                <a class="text-center"> <h1 class="text-warning">Login</h1></a>
        
                                <form id="frmLogin" class="mt-4 login-input" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="username" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                    </div>
                                    <button class="btn login-form__btn submit w-100">Sign In</button>
                                </form>
                                <p class="mt-4 login-form__footer"><a href="#" class="text-warning"><b>Forgot Password?</b></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--**********************************
        Scripts
    ***********************************-->

    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>

    <!-- Validation -->
    <script src="{% static 'plugins/validation/jquery.validate.min.js' %}"></script>

    <!-- Sweet Alert -->
    <script src="{% static 'plugins/sweetalert/js/sweetalert.min.js' %}"></script>

    <script src="{% static 'js/superadmin/login.js' %}"></script>

</body>
</html>





