{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}    

      
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col p-md-0">
                    <h4 style='float:left;'>Profile</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                          <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                                aria-selected="false">Update Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls=""
                                aria-selected="false">Change Password</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                           <br/>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="flat_owner" name="name" placeholder="Name" readonly value="{{ userData.name }}">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="flat_owner" name="email" placeholder="Name" readonly value="{{ userData.email }}">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" id="flat_owner" name="name" placeholder="Name" readonly value="{{ userData.contact }}">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" name="address" placeholder="Address" readonly>{{ userData.address }}</textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <br/>
                            <form class="form-valide" id="frmUpdate" method="post">
                              {% csrf_token %}
                            <input type="hidden" class="form-control" id="userId" name="userId" placeholder="" value="{{ userData.id }}">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{ userData.name }}" required="">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{ userData.email }}" required="">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contact</label>
                                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact" value="{{ userData.contact }}" required="">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="address" name="address" placeholder="Address">{{ userData.address }}</textarea>
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-lg-8">
                                <button type="submit" class="btn btn-rounded btn-submit">Update</button>
                                <a href="{% url 'profile' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                              </div>
                            </div>
                          </form>
                          </div>
                          <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                          <br/>
                              <form class="form-valide" id="frmChngPass" method="post">
                              {% csrf_token %}
                            <input type="hidden" class="form-control" id="userId" name="userId" placeholder="" value="{{ userData.id }}">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Old Pasword</label>
                                    <input type="password" class="form-control" id="old_pass" name="old_pass" placeholder="Old Password" required="">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" id="new_pass" name="new_pass" placeholder="New Password" required="">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm_pass" name="confirm_pass" placeholder="Confirm Password" required="">
                                </div>
                              </div>
                            </div>
                            <div class="form-group row">
                              <div class="col-lg-8">
                                <button type="submit" class="btn btn-rounded btn-submit">Update</button>
                                <a href="{% url 'profile' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                              </div>
                            </div>
                          </form>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/superadmin/profile.js' %}"></script>

{% endblock %}    
    
        
        