{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %} 

    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4 style='float:left;'>Setting </h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Setting</li>
                </ol>
            </div>
        </div>
        <div class="row">
               {% csrf_token %}

                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body px-0">
                            <h4 class="card-title px-4 mb-3">Brand</h4>
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="px-4">
                                        <input type="text" class="form-control" id="addBrandBtn" placeholder="Add New Brand and hit 'Enter'...">
                                    </div>
                                    <div class="tdl-floor">
                                        <ul id="floor_list">
                                           {% for brand in brands %}            
                                            <li class="floor_li{{ brand.id }}"><label><span>{{ brand.name  }}</span><a href='#' onclick="deleteBrand('{{ brand.id }}')"  class="ti-trash"></a></label></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

   </div>

    <script src="{% static 'js/superadmin/settings.js' %}"></script>

{% endblock %}    
         
       