{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}   
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col p-md-0">
                <h4 style='float:left;'>{{action}} Shop</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop List</a></li>
                    <li class="breadcrumb-item active">{{action}} Shop</li>
                </ol>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" id="frmShop" name="frmShop" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" class="form-control" id="shopId" name="shopId" value="{{ record.id }}" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Shop Name</label>
                                            <input type="text" class="form-control" id="name" name="name" value="{{ record.name }}" placeholder="Shop Name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Owner Name</label>
                                            <input type="text" class="form-control" id="owner" name="owner" value="{{ record.owner }}" placeholder="Owner Name" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Mobile No</label>
                                            <input type="text" class="form-control" id="contact" name="contact" value="{{ record.contact }}" placeholder="Mobile No" minlength="10" maxlength="10" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{ record.email }}" placeholder="Email ID" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Shop Address</label>
                                            <textarea row="2" class="form-control" name="address" placeholder="Shop address" required>{{ record.address }}</textarea>    
                                        </div>
                                    </div>
                                    {% comment %} <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Photo</label>
                                            <input type="file" class="form-control" id="photo" name="photo" >
                                        </div>
                                    </div>
                                    {%  if action == 'Edit' %}
                                     <div class="col-md-4">
                                        <div class="form-group">
                                             <img src="{{ record.photo.url }}" class="image_responsive" height="100px" width="100px">
                                        </div>
                                    </div>
                                     {%  endif %} {% endcomment %}
                                </div>
                                
                                <div class="form-group row">
                                    <div class="col-lg-8">
                                        <button type="submit" class="btn btn-rounded btn-info" >
                                            {%  if action == 'Add' %} Submit 
                                            {%  else %} Update 
                                            {%  endif %}</button>
                                        <a href="{% url 'shop' %}"><button type="button" class="btn btn-rounded btn-outline-secondary">Cancel</button></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static 'js/superadmin/shop.js' %}"></script>
    <script>
        var shop_url = "{% url 'shop' %}"
        var add_shop_url = "{% url 'add_shop' %}"
    </script>
    
{% endblock %}   