{% extends 'superadmin/base.html' %}
{% load static %}


{% block content %}    
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col p-md-0">
                    <h4 style='float:left;'>Shop List </h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Shop List</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                {% csrf_token %}
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>Sr. No.</th>
                                            <th>Shop Name</th>
                                            <th>Owner</th>
                                            <th>Mobile No</th>
                                            <th>Status</th>  
                                            <th>Added On</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                  
                                        {% for rec in record  %}
                                            <tr>
                                                <td>{{ forloop.counter }} </td>
                                                <td>{{ rec.name }}</td>
                                                <td>{{ rec.owner }}</td>
                                                <td>{{ rec.contact }}</td>
                                                <td>
                                                {% if rec.is_active == 1 %}
                                                    <span href="#" class="btn btn-sm btn-success">Active</span>
                                                {% else %}
                                                   <span href="#" class="btn btn-sm btn-danger">Dective</span>
                                                {% endif %}
                                                </td>
                                                <td>{{ rec.added_date | date:"Y-m-d h:i A" }}</td>
                                                <td>
                                                <a href="{% url 'add_shop' rec.id  %}" data-toggle="tooltip" title="Edit" class="btn btn-info btn-sm"><i class="fa fa-pencil font-18 align-middle"></i></a> &nbsp;
                                                <a href="#" data-toggle="tooltip" title="Delete" onclick="deleteShop('{{ rec.id }}')" class="btn btn-danger btn-sm"><i class="fa fa-trash font-18 align-middle"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/superadmin/shop.js' %}"></script>

{% endblock %}    
    
        
        